<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="estilos/style_login.css">
</head>
<body>
    <div id="conteiner">
        <h1>Login</h1>
        <div v-show="acesso_negado" class="acesso_negado" @click="acesso_negado = false">Usuário e/ou senha incorreto(s)</div>
        <form @submit.prevent="handle_submit_login">
            <div class="conteiner_input">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" v-model="usuario">
            </div>

            <div class="conteiner_input">
                <label for="senha">Senha</label>
                <input type="password" name="senha" v-model="senha">
            </div>

            <input type="submit" placeholder="Enviar">
        </form>
    </div>
        <script src="index_script.js"></script>   
</body>
</html>